<div class="welcome">
  <p>Hi kids!! Wait, Wait! Dont let the whole "vocab" thing bore you off to an other corner of the internet. New words can be actually be cool. Wait! Seriously! Vocab is how you level the character of you. New words can open new worlds, new ways of thinking, and new people to you.</p>
</div>
<% if @words.any? %>
  <div class="well main">
    <h4>Your words:</h4>
    <% @words.each() do |word| %>
      <ul>

          <li><div class="word-style"><a href="/words/<%= word.id() %>/definitions"><%= word.word_text() %></a></div>  <%= word.word_class() %></li>

        <% if word.definitions().any? %>
          <ul>
            <% word.definitions().each() do |def_text| %>
              <li>Definition- <%= def_text.text() %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
  <div class="well main">
    <h2>You have yet to enter a word.</h2>
  </div>
<% end %>

<div class="well main">
  <form class="form-horizontal" action="/words" method="post">
    <div class="form-group">
      <label class="col-sm-2" for="wd-text">Your word <strong>here</strong>:</label>
      <div class="col-sm-6">
        <input class="form-control" type="text" name="wd-text" id="wd-text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2" for="wd-class" class="col-sm-2 form-control">Word class:</label>
      <div class="col-sm-2">
        <select class="form-control" name="wd-class" id="wd-class">
          <option value="Noun">Noun</option>
          <option value="Verb">Verb</option>
          <option value="Adjective">Adjective</option>
          <option value="Adverb">Adverb</option>
          <option value="Pronoun">Pronoun</option>
          <option value="Preposition">Preposition</option>
          <option value="Conjunction">Conjunction</option>
          <option value="Exclamation">Exclamation</option>
          <option value="Determiner">Determiner</option>
        </select>
      </div>
    </div>
    <button class="btn btn-default" type="submit" name="button">Submit Word</button>
  </form>
</div>
