<div class="well smile">
  <div class="smilepic">
    <p>.</p>
  </div>
  <h2>Great. Keep it up!</h2>
  <a href="/"><button class="btn btn-success" type="button" name="button">Back to it!</button></a>
</div>
