body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main {
  background-color: #8bb1ed;
  border: 7px groove #0041a8;
  border-radius: 10px;
  font-family: Shrikhand, cursive;
}
